<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name1">Name</label>
          <input type="text" name="name1" class="form-control">
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="submit">Dodaj</button>
            <button class="btn btn-danger" type="submit">Usuń</button>
            <button class="btn btn-primary" type="submit">Wyczyść</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
